body {
  padding: 0px !important; }

/* -----------------------------------
   @imports
   ----------------------------------- */
/*! sass-bem-constructor - version : 1.1.0 - 2016-02-07 */
.c-wa-header {
  width: 100%;
  height: 100px;
  background-color: #ddd; }
