<!DOCTYPE html>
    <html lang="en" ng-app="weather-app">
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta charset="UTF-8">
            <meta name="keywords" content="HTML,CSS,Sass,JavaScript, Gulp">
            <meta name="author" content="Crispian Anyster">
            <title>Crispian Anyster - Web developer assessment</title>
            <link type="text/css" rel="stylesheet" href="css/main.css" />
            <link type="text/css" rel="stylesheet" href="css/app.css" />
            <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
        </head>
        <body>
        <div class="container">
            <div class="c-wa-header">5 * 2 = {{5 * 2}}</div>
        </div>
        </body>
    </html>